.sidebar{
    background-color: white;
    height: 100%;
    width: 15%;
    border-right: 2px solid #dfdfdf;
    box-shadow: 0px 0px 2px gray;
}

.sidebar-item{
    padding: 10px;
    background-color: white;
    /* border-top: 2px solid #dfdfdf; */
    border: none;
    border-bottom: 2px solid #dfdfdf;
    width: 100%;
    font-size: large;
}

.sidebar-item:first-of-type{
    margin-top: 30px;
    border-top: 2px solid #dfdfdf;
}

.sidebar-item:hover{
    background-color: whitesmoke;
}

.sidebar-item:active{
    background-color: #dfdfdf;
}

.active-sidebar-button {
    background-color: #dfdfdf;
}
